@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}

html {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header h3{
    margin:0px;
    padding:0px;
}
body {
    width:100%;
    display:block;
    background-color: #fff;
    padding:30px 50px 50px 50px;
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333;
    font-weight:400;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block;
}
nav > ul {margin: 0}
.navbar .container-fluid>.navbar-header {
  float: left;
  margin-bottom: 8px;
  margin-top: 0px;
}
.navbar .navbar-nav {
  float: left;
  margin-top: 0px;
}
.nav>li {
  float: left;
  list-style-type: none;
}

.table-hover > tbody > tr:hover {
  background-color: #E8E8E8;
}

span {
    color:#7d3c98;
    font-weight: bold;
}

p, table, pre {
  margin:0 0 0px;
  padding:0px 0px;
  text-align:justify
}
ul, ol {
  list-style-position:outside;
  margin:0 0 0px;
  padding:0px 20px;
  text-align:left
}
dl {
  list-style-position:inside;
  margin:0 0 0px;
  text-align:left
}
ul{
    list-style-type:square;
}
li{
     position: relative;
     padding-left:1em
 }
h1, h2 {
  line-height:1.1;
  padding-bottom:10px;
  margin:0px;
}

h1 {
  color:#000;
  font-size:28px;
}

h2 {
  color:#000;
  font-size:24px;
}
a:link    {color:#000; background-color:transparent; text-decoration-line:underline; text-decoration-style: dotted;}
a:visited {color:#000; background-color:transparent; text-decoration-line:underline; text-decoration-style: dotted;}
a:hover   {color:#000; background-color:transparent; text-decoration-line:none}
a:active  {color:#000; background-color:transparent; text-decoration-line:underline; text-decoration-style: dotted;}

.button {
    background-color: white;
    border: 2px solid;
    color:#000;
    padding: 5px;
    height:35px;
    text-align: center;
    vertical-align:middle;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: None
}
select {
    background-color: white;
    border: 2px solid;
    color:#000;
    padding: 5px;
    height:35px;
    text-align: center;
    vertical-align:middle;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: None
}

.wrapper {
  width:90%;
  margin:0 auto;
  height: auto;
}
.boxed {
  border: 1px solid black ;
  margin:0 0 0 0px ;
  padding:0 0 0 0px;
}



blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 0px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:0px 0px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  word-wrap:break-word;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:20%;
  float:left;
  position:static;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:100%;
  max-width: 1200px;
  height: auto;
  float:left;
  display: block;
  margin:0 0 0;
  position:static;
}


aside {
  width:100%;
  max-width: 550px;
  height:auto;
  float:left;
  display: block;
  margin:0 0 0;
  position:static;
}
article {
  width:20%;
  height:auto;
  float:left;
  display: block;
  margin:0 0 0;
  position:static;
}

small {
  font-size:11px;
}

hr {
  border-top:solid 2px #666;
  margin:30px 0 20px;
  max-width:1200px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  text-align:right;
}
u.dotted{
          border-bottom: 1px dashed #999;
          text-decoration: none;
        }
@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0px;
  }

  header, aside, section, footer {
    float:none;
    position:static;
    width:auto;
  }

}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
    body {
      word-wrap:break-word;
    }

    pre, code {
      word-wrap:normal;
    }

}

@media print {
  body {
    padding:0in;
    font-size:12px;
    color:#444;
  }
}
